


/* media query */

        @media all and (max-width: 5000px) and (min-width: 1600px){

              h1{
                      font-size: 7em;
        }
              #profilepic {
                      float: right;
                      padding-right: 25px;
        }
	      #copyright {
                      color: #333;
                      left: 5%;
	}

              #links {
                      right: 5%;
	}
}

        @media all and (max-width: 1599px) and (min-width: 701px){
	      h1{
		      font-size: 4em;
		      margin-left: auto;
		      margin-right: auto;
		      text-align: center;
        }
              h2{
        	      font-size: 1em;
        	      text-align: center;
        }
              h3{
		      font-size: .75em;
		      text-align: center;
        }
	      img.background {
		      min-width: 899px;
	}
              #content {
                      text-align: center;
        }
	      #header {
                      padding-top: 200px;
		      padding-bottom: 30%;
        }
	      #arrow {
		      margin-top: 20.2em;
	}
              #content2 {
		      padding-top: 10%;
		      padding-bottom: 500px;
		      z-index: 1;
	}
	      #content3 {
		      padding-top: 5%;
		      z-index: 0;
        }

	      #content3 h2 {
		      top: 45%;
	}
              #profilepic {
              	      padding-right: 0px;
          	      float: none;
                      margin-right: auto;
                      margin-left: auto;
                      text-align: center;
	}
              #intro {
		      padding-top: 10%;
        	      float: none;
                      margin-left: auto;
                      margin-right: auto;
                      text-align: center;
        }
	      div.box {
		      margin: 0 0 0 0;
		      float: left;
		      clear: none;
		      width: 49%;
		      height: 300px;

  }
          a {
                           font-size: .7em;
  }
       	  #footer {
                           padding: 35px 50px 60px;
                           background: #DEDEDE;
		                       bottom: 0;
                           z-index: 3;
  }
}

	@media all and (max-width:700px) and (min-width: 100px){

	        h1 {
	                         font-size: 5em;
            	             font-weight: bold;
  }
	        img.background {
		                       min-width: 500px;
	}
  	      img.insert1 {
                  		     width: 100%;
		                       min-width: 50%;
	}
  	      #header {
		                       padding-top: 100px;
                           padding-bottom: 80%;
	}
	        #footer {
                           padding: 15px 0px 15px;
                           background: #DEDEDE;
                           z-index: 3;
		                       line-height: 1.5em;
  }
  	      #copyright {
                           position: relative;
                           margin-left: auto;
                           margin-right: auto;
                           left: 0;
                           right: 0;
                           float: none;
                           text-align: center;
  }
   	      #content2 {
                  		     padding-top: 35%;
		                       padding-bottom: 200px;
                           text-align: center;
  }
   	      #content3 {
		                       padding-top: 3%;
  }
	        #content3 h2 {
		                       font-size: 2em;
		                       top: 25%;
	}
          #links {
                           position: relative;
                           margin-left: auto;
                           margin-right: auto;
                           left: 0;
                           right: 0;
                           float: none;
                           text-align: center;
	}
	        div.box {
		                       float: none;
		                       width:100%;
		                       margin-left: auto;
		                       margin-right: auto;
		                       height: 20%;
		                       left: 0;
		                       border: 1px;
		                       text-align: center;
		                       z-index: 1;
	}
}

	@media (-webkit-min-device-pixel-ratio: 2) {

   	      h1 {
   	                       font-size: 4em;
   	                       font-weight: bold;
  }
          h2 {
                           font-size: 1em;
  }
          h3 {
                           font-size: .8em;
  }

          ul {
                           font-size: .8em;
                           font-weight: normal;
                           color: #333;
                           text-align: center;
                           z-index: 1;
             		           line-height: 2em;
		                       margin-top: 20%;
		                       padding-bottom: 25%;
  }
          #arrow {
		                       margin-top: 20.2em;
	}
	        img.insert1 {
		                       width: 100%;
		                       min-width: 50%;
	}
	        #header {
		                       padding-top: 100px;
                           padding-bottom: 40%;
	}

          #profilepic {
              	           padding-right: 0px;
          	               float: none;
                           margin-right: auto;
                           margin-left: auto;
                           text-align: center;
                           padding-bottom: 15%;
	}
          #intro {
		                       padding-top: 10%;
        	                 float: none;
                           margin-left: auto;
                           margin-right: auto;
                           text-align: center;
  }
	        #content2 {
		                       padding-top: 35%;
                 		       padding-bottom: 50px;
                           text-align: center;
  }

	        #content3 {
	          	             padding-top: 3%;
  }
          #content3 h2 {
		                       top: 25%;
	}

	        div.box {
		                       float: none;
		                       width: 100%;
		                       margin-left: 0;
		                       margin-right: 0;
		                       height: 20%;
              		         left: 0;
		                       border: 1px;
		                       text-align: center;
                		       z-index: 1;
	}

	        #footer {
                           padding: 15px 0px 15px;
                           background: #DEDEDE;
                           z-index: 3;
                		       line-height: 1.5em;
                		       font-size: .8em;
  }
          #footer a {
                           font-size: .8em;
  }
	        #copyright {
                           position: relative;
                           margin-left: auto;
                           margin-right: auto;
                           left: 0;
                           right: 0;
                           float: none;
                           text-align: center;
  }
          #links {
                           position: relative;
                           margin-left: auto;
                           margin-right: auto;
                           left: 0;
                           right: 0;
                           float: none;
                           text-align: center;
	}
}
