html {
                        -webkit-text-size-adjust: 100%;
                        -moz-text-size-adjust: 100%;
                        -ms-text-size-adjust: 100%;
                        font-family: 'Montserrat', 'Arial Black', sans-serif;
                        font-size: 18px;
}

html, body {
                        height: 100%;
                        margin-left: auto;
                        margin-right: auto;
}

h1 {
                        font-size: 6.5vw;
                        font-weight: normal;
                        color: #F0F0F0;
                        text-transform: uppercase;
                        text-align: center;
                        margin-top: 1em;
                        margin-bottom: -1em;
}

h2 {
                        font-size: 1em;
                        font-weight: bold;

                        margin-bottom: 10px;

                        color: #333;
                        text-transform: uppercase;
                        text-align: center;
}

h2:hover {
                        color: #888;
}

h3 {
                        font-size: .8em;
                        font-weight: normal;
                        color: #333;
                        text-align: center;
                        z-index: 1;
                        line-height: 2em;
}

ul {
                        font-size: .8em;
                        font-weight: normal;
                        color: #333;
                        text-align: center;
                        z-index: 1;
                        line-height: 2em;
                        margin-top: 20%;
                        padding-bottom: 20%;
}

a {
                        color: #333;
                        text-decoration: none;
                        font-size: .7em;
}

p {
                        color: #F0F0F0;
                        font-size: .7em;
                        text-align: center;
}

nav {
                        width: 100%;
                        height: 60px;
                        position: fixed;
                        top: 0;
                        background: #1ABC9C;
                        z-index:999;
}

nav ul {
                        padding: 20px;
                        margin: 0 auto;
                        list-style: none;
                        text-align: center;
}

nav ul li {
                        display: inline-block;
                        margin: 0 10px;
}

nav ul li a {
                        padding: 10px 0;
                        color: #fff;
                        font-size: 1rem;
                        text-decoration: none;
                        font-weight: bold;
                        transition: all 0.2s ease;
}

nav ul li a:hover {
                        color: #34495E;
}

a.active {
                        border-bottom: 2px solid #ecf0f1;
}

#header {

                        height: 100vh;
}

#title {
                        position: absolute;
                        height: 60vh;
                        width: 35vw;

                        margin-left: 32.5vw;
                        margin-top: 20vh;

                        text-align: center;
                        z-index: 3;
                        border: solid .25em #FFF;
}

#arrow {

}

img.background {
                        min-height: 100%;
                        min-width: 1500px;
                        width: 100%;
                        height: auto;
                        top: 0;
                        left: 0;
                        position: fixed;
                        z-index: -3;
}

#intro {
                        position: relative;

                        height: 100vh;

                        margin-left: auto;
                        margin-right: auto;
                        z-index: 1;
                        background: rgba(238,238,233,.95);
}

#profilepic {
                        padding-top: 30vh;
                        position: relative;
                        width: 150px;
                        margin-left: auto;
                        margin-right: auto;
}

#introtxt {
                        padding-top: 5vh;
                        position: relative;
}

#abilities {
                        height: 100vh;

                        margin-left: auto;
                        margin-right: auto;
                        padding-left: 25vw;
                        padding-right: 25vw;
                        z-index: 1;

                        width: 50vw;

                        background: rgba(247,245,245,.95);
}

#abilities h2 {
                        margin-top: 17.5vh;
                        margin-bottom: 7.5vh;
}

#abilities ul, li, b {
                        margin-top: 0px;
}

div.box {
                        margin: 0 0 0 0;
                        float: left;
                        clear: none;
                        width: 49%;
                        height: 300px;
                        border: 1px;
                        text-align: center;
                        color: #F0F0F0;
                        z-index: 1;
}

div.box h3 {
                        margin-left: 5%;
                        margin-right: 5%;
                        text-align: center;
}

div.box a {
                        font-size: 1em;
                        font-weight: normal;
                        color: rgb(120,120,120);
                        text-align: center;
                        z-index: 1;
                        line-height: 2em;
                        font-weight: bold;
}

#work {
                        z-index: 1;
                        background: rgba(247,245,245,.95);
                        position: relative;
                        margin-bottom: 0px;
}

img.insert1 {
                        height: 75vh;
                        max-width: 100%;
                        width: 100%;
                        z-index: 1;
}

#work h2 {
                        z-index: 2;
                        position: absolute;
                        color: white;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        font-size: 5em;
                        font-weight: bold;
                        top: 30vh;
}

#where {
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                        height: 50vh;
                        background-color: #CCC;

}

#footer {
                        position: relative;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        padding: 25px 50px 50px;
                        margin-bottom: .75%;
                        background: #DEDEDE;
                        z-index: 3;
}

#copyright {
                        position: absolute;
                        color: #333;
                        float: left;
}

#links {
                        position: absolute;
                        float: right;
                        word-spacing: 30px;
                        right: 5%;
}
